.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar-nav > li > a{
  border-top: 3px solid rgba(255,255,255,0);
}
.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
  border-top: 3px solid #f9ab00;
}

.navbar-nav > li > a:hover{
  border-top: 3px solid #f9ab00;
}

.header-wrapper{
  position: relative;
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWW7KGs9IIfcXHmDLL6ZLEiySc7f-IGg7dfg&usqp=CAU) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.typed-text{
  font-size: 2rem;
  color: rgba(226, 44, 12, 0.822);
}

.btn-main-offer{
  border: 1px solid #ef4035;
  border-radius: 5;
  padding: 12px 12px 12px 12px;
  color: rgb(106, 112, 20);
  margin: 2rem;
}
.btn-main-offer:hover{
  text-decoration: none;
  background-color: rgb(236, 165, 32);
  color: white;
  transition: .2s ease-in-out;
}

.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}